head {
  font-family: inherit;
  font-weight: 500px;
  
}


body {
  
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid gray;
    padding: 10px;
}

.jumbotron {
    margin: auto;
    width: 50%;
    /* border: 3px solid gray; */
    padding: 20px;
}

#name {

}

#phone {

}

#email {

}

#uniqueID {

}