head {
  font-family: inherit;
  font-weight: 500px;
  
}


body {
  
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid gray;
    padding: 10px;
}

.jumbotron {
    margin: auto;
    width: 50%;
    /* border: 3px solid gray; */
    padding: 20px;
}

#name {
}

#submit {
  margin: 10px;
}

#jumbo .jumbotron{
	text-align: center;
}

body{
	background-color: 
}